<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container2">
        <div class="box2">
            <span></span>
            <div class="content">
                <h2>Card One</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque quia, voluptatem!</p>
                <a href="#" class="btn1">Explore</a>
            </div>
        </div>

        <div class="box2">
            <span></span>
            <div class="content">
                <h2>Card Two</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque quia, voluptatem!</p>
                <a href="#" class="btn2">Explore</a>
            </div>
        </div>

        <div class="box2">
            <span></span>
            <div class="content">
                <h2>Card Three</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque quia, voluptatem!</p>
                <a href="#" class="btn3">Explore</a>
            </div>
        </div>

        <div class="box2">
            <span></span>
            <div class="content">
                <h2>Card Four</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque quia, voluptatem!</p>
                <a href="#" class="btn4">Explore</a>
            </div>
        </div>

        <div class="box2">
            <span></span>
            <div class="content">
                <h2>Card Five</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque quia, voluptatem!</p>
                <a href="#" class="btn5">Explore</a>
            </div>
        </div>
    </div>
</body>
</html>