

    <div class="body">
<div class="product-card">
<div class="contain">
    <div class="cardo">
        <div class="content">
            <h2>01</h2>
            <h3>Service One</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit minima aspernatur praesentium eveniet
                saepe totam dolor beatae quia blanditiis voluptates fugiat, reiciendis tempora distinctio temporibus
                dolores quod laudantium soluta.</p>
            <a href="">Read More</a>
        </div>
    </div>

    <div class="cardo">
        <div class="content">
            <h2>02</h2>
            <h3>Service Two</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit minima aspernatur praesentium eveniet
                saepe totam dolor beatae quia blanditiis voluptates fugiat, reiciendis tempora distinctio temporibus
                dolores quod laudantium soluta.</p>
            <a href="">Read More</a>
        </div>
    </div>

    <div class="cardo">
        <div class="content">
            <h2>03</h2>
            <h3>Service Three</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit minima aspernatur praesentium eveniet
                saepe totam dolor beatae quia blanditiis voluptates fugiat, reiciendis tempora distinctio temporibus
                dolores quod laudantium soluta.</p>
            <a href="">Read More</a>
        </div>
    </div>

    <div class="cardo">
        <div class="content">
            <h2>04</h2>
            <h3>Service Four</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit minima aspernatur praesentium eveniet
                saepe totam dolor beatae quia blanditiis voluptates fugiat, reiciendis tempora distinctio temporibus
                dolores quod laudantium soluta.</p>
            <a href="">Read More</a>
        </div>
    </div>
</div>
</div>
</div>