
.contain {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contain .cardo {
    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.contain .cardo:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #060c21;
    transform: skew(2deg, 2deg);
    z-index: -3;
}

.contain .cardo:nth-child(1)::before {
    background: linear-gradient(315deg, #ff0057, #e64a19);
}

.contain .cardo:nth-child(2):before {
    background: linear-gradient(315deg, #89ff00, #00bcd4);
}

.contain .cardo:nth-child(3):before {
    background: linear-gradient(315deg, #e91e63, #5d02ff);
}

.contain .cardo:nth-child(4):before {
    background: linear-gradient(315deg, #ff0000, #ffc107);
}

.contain .cardo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .05);
    pointer-events: none;
}

.content {
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}

.cardo .content h2 {
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255, 255, 255, .05);
    transition: 0.5s;
}

.cardo:hover .content h2 {
    top: -140px;
}

.cardo .content h3 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.cardo .content p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}

.cardo .content a {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}

.cardo:hover .content a {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.cardo .content a:hover {
    color: #000;
    background: #fff;
}