<footer class="footer">
    <div class="top">
        <div class="content">
            <span class="logo" style="margin-left: -13px; color: #FF4DA6; font-size: 20px;">The &nbsp;&nbsp;
                <a class="glow">e-Mart</a>&nbsp;&nbsp; Corporation</span>
            <p class="desc" >
                <!-- e-Mart is an exceptional e-commerce platform that provides top-notch online shopping services. Our vast array of merchandise is unparalleled, with a focus on quality products and services. Go Shopping! -->
            e-Mart is a e-commerce platform, designed & developed by <a class="author" href="https://sugamphirke.com" target="_blank">Sugam Phirke</a> to showcase his web development and project management skills! Leveraging the power of MEAN stack, this project focuses in delivering a seamless user experience with its intuitive and visually appealing interface and functionality.
                <br> <span style="margin-top: 15px;">Write your suggestions/reviews to us!</span>
                <textarea name="mySelf"></textarea>
                <button class="reviewInp">SEND</button>
            </p>
        </div>

        <div class="links" style="margin-top: 20px;">
            <div class="link">
                <h4>Contact Information</h4>
                <div>
                    <span class="info_footer">🏦 Fortune 12, Pimpri Chinchwad, Pune, India.</span>
                </div>
                <div>
                    <span class="info_footer" style="padding-top: 10px;">📧 emart@gmail.com</span>
                </div>
                <div>
                    <span class="info_footer" style="padding-top: 10px;">📱 +91 7248965324</span>
                </div>
            </div>

            <div class="link">
                <h4>Quick Links</h4>
                <a href="#">My Account</a>
                <a href="#">Seller Portal</a>
                <a href="#">Affiliates</a>
                <a href="#">Services</a>
                <a href="#">Shipping Guide</a>
                <a href="#">About Us</a>
                
            </div>

            <div class="link">
                <h4>Legality</h4>
                <a href="#">Privacy Policy</a>
                <a href="#">Customer Point Policy</a>
                <a href="#">Term of Use</a>
                <a href="#">Conditions</a>
                <a href="#">Location</a>
            </div>

            <div class="link connect">
                <h4>Connect with Us</h4>
                <div>
                    <img class="logo1" [src]="FacebookIconSrc" alt="" height="25px" width="25px" />
                    <a class="facebook social_media" href="#"
                        style="text-decoration: none;padding-top: 12px;" (mouseenter)="onFacebookIconHover(true)" (mouseleave)="onFacebookIconHover(false)" >Facebook</a>
                </div>
                <div>
                    <img class="logo2" [src]="InstagramIconSrc"  alt="" alt="" height="25px" width="25px" />
                    <a class="instagram social_media" href="#"
                        style="text-decoration: none;padding-top: 12px;" (mouseenter)="onInstagramIconHover(true)" (mouseleave)="onInstagramIconHover(false)" >Instagram</a>
                </div>
                <div>
                    <img class="logo3" [src]="TwitterIconSrc" alt="" height="25px" width="25px" />
                    <a class="twitter social_media" href="#" style="text-decoration: none;padding-top: 12px;"  (mouseenter)="onTwitterIconHover(true)" (mouseleave)="onTwitterIconHover(false)" >Twitter</a>
                </div>
                <div>
                    <img class="logo4" [src]="YoutubeIconSrc" alt="" height="25px" width="25px" />
                    <a class="twitter social_media" href="#" style="text-decoration: none;padding-top: 12px;"  (mouseenter)="onYoutubeIconHover(true)" (mouseleave)="onYoutubeIconHover(false)" >YouTube</a>
                </div>
            </div>
        </div>
    </div>
</footer>