@import url('loginstyle.css');

@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Concert+One&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Bungee&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #A9A9A9; */
    /* zoom: 90%; */
    overflow-x: hidden;
}
.login {
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #F89A26);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, red);
}

// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.product-Center {
    overflow: hidden !important;
}
