<header id="second_header">
    <div id="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Deals & Savings</a></li>
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">Recommendations</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Order history</a></li>
            <li><a href="#">Customer service</a></li>
        </ul>
        <div class="searchbar">
            <input type="text" placeholder="search">
            <abbr title="Search"><div class="icon">
                <i class="fas fa-search"></i>
            </div></abbr>
        </div>
    </div>
</header>