<div>
    <p><span style="color:white;">Subscribe to our exclusive &nbsp;&nbsp;</span> <span style="color:black;">N E W S<span style="color:red;"> L E T T E R&nbsp;</span></span> ?</p>
    <form >
        <input type="email" placeholder="Enter your Email to subscribe">
        <button></button>
    </form>
    <img style="margin-left: 70px;" src="../../assets/Photos/visa.png" alt="">
    <img src="../../assets/Photos/ebay.png" alt="">
    <img src="../../assets/Photos/mastercard.png" alt="">
    <!-- <img src="../../assets/Photos/paypal.png" alt=""> -->
    <img src="../../assets//Photos/paytm.png" alt="">
    <img src="../../assets/Photos/westernUnion.png" alt="">
</div>
