.carousel-container {
    position: relative;
    margin: auto;
    text-align: center;
    width: 2200px;
    border-radius: 15px;
    box-shadow: 0 8px 16px black;
    background: transparent;
}

.carousel-container img {
    display: none;
    border-radius: 15px;
}

.carousel-container img.image-active {
    display: block;
    width: 100%;
    height: 400px;
}

/* Dots */
.carousel-dot-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.active,
.dot:hover {
    opacity: 1;
}

/* Image transition Fading effect */
.fadetrans {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.btn-carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #000;
    text-align: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
}

.btn-prev {
    left: -100px;
}

.icon-carousel {
    color: #000;
    opacity: 0.5;
    transition: all 0.15s ease;
}

.icon-carousel:hover {
    opacity: 0.9;
}

.icon-carousel:active {
    opacity: 0.5;
}

.icon-prev,
.icon-next {
    font-size: 35px;
}

.btn-next {
    right: -100px;
}